:root{
  --fundo:#111111;
  --dourado:#C6A75E;
  --branco:#F5F5F5;
  --cinza:#2A2A2A;

  --icon-xs: 12px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xgg: 100px ;
}

/* Base para todos os ícones */
.icon {
  display: inline-block;
  width: var(--icon-md);
  height: var(--icon-md);
  object-fit: contain; /* garante proporção */
}

.icon-xs { width: var(--icon-xs); height: var(--icon-xs); }
.icon-sm { width: var(--icon-sm); height: var(--icon-sm); }
.icon-md { width: var(--icon-md); height: var(--icon-md); }
.icon-lg { width: var(--icon-lg); height: var(--icon-lg); }
.icon-xgg { width: var(--icon-xgg); height: var(--icon-xgg); }




/*----------*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Poppins", sans-serif;
  background: radial-gradient(circle at top left, #1a1a1a, #111111 60%);
  color:var(--branco);
  scroll-behavior:smooth;
}

/* MENU */

.menu{
  position:fixed;
  top:0;
  width:100%;
  height:70px;
  background:rgba(13,13,13,0.95);
  backdrop-filter:blur(8px);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.menuI{
  width:95%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo h1{
  color:var(--dourado);
  font-size:22px;
  letter-spacing:2px;
}

.nav a{
  color:var(--branco);
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

.nav a:hover{
  color:var(--dourado);
}

.notEmpty{
  width: 100%;
  height: 30rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.redeSociais{
  width: 98%;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.redeSociais img{
  margin-left: 1rem;
}

/* HERO */

.sectionMain{
  padding-top:140px;
  display:flex;
  justify-content:center;
  min-height:100vh;
}

.contP{
  width:90%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
  
}

.baseImg{
  max-width:500px;
  position:relative;
}

.baseImg::after{
  content:"";
  position:absolute;
  width:250px;
  height:250px;
  background:var(--dourado);
  filter:blur(150px);
  opacity:0.15;
  top:-40px;
  right:-40px;
  z-index:-1;
}

.baseImg img{
  width:100%;
  border-radius:14px;
  box-shadow:0 30px 60px rgba(0,0,0,0.6);
  transition:opacity 0.5s ease, transform 0.4s ease;
  cursor: pointer;
}

.baseImg img:hover{
  transform:scale(1.05);
}

.baseInfo{
  max-width:500px;
}

.baseInfo h1{
  font-size:52px;
  margin-bottom:15px;
  font-weight:600;
}

.baseInfo span{
  color:var(--dourado);
}

.line{
  width:90px;
  height:4px;
  background:var(--dourado);
  margin-bottom:25px;
}

.baseInfo h3{
  margin-bottom:30px;
  font-weight:300;
  line-height:1.7;
  color:#ccc;
}

.baseInfo button{
  padding:14px 40px;
  border:none;
  background:var(--dourado);
  color:#111;
  font-weight:600;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.baseInfo button:hover{
  transform:translateY(-4px);
  box-shadow:0 15px 40px rgba(198,167,94,0.4);
}

/* SEÇÕES */

.servicos, .precos, .sobre{
  padding:120px 20px;
  text-align:center;
}

.servicos h2,
.precos h2,
.sobre h2{
  color:var(--dourado);
  margin-bottom:60px;
  font-size:34px;
}

.cards, .priceBox{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  cursor: pointer;
}

.card, .priceBox div{
  background:linear-gradient(145deg,#1e1e1e,#2a2a2a);
  padding:35px;
  border-radius:14px;
  width:260px;
  transition:0.3s;
}

.card:hover,
.priceBox div:hover{
  transform:translateY(-10px);
  box-shadow:0 25px 50px rgba(0,0,0,0.6);
}

.priceBox p{
  color:var(--dourado);
  font-weight:600;
  margin-top:10px;
}

.sobre p{
  max-width:700px;
  margin:0 auto;
  line-height:1.8;
  color:#ccc;
}

/* FOOTER */

.footer{
  background:#0d0d0d;
  padding:40px;
  text-align:center;
  font-size:14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* WHATS */
.gold{
  color: var(--dourado);
}
.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background-image: linear-gradient(-45deg, rgb(34, 192, 34), green);
  padding:14px 22px;
  border-radius:30px;
  color:#ffffff;
  font-weight:600;
  text-decoration:none;
  box-shadow:0 10px 30px rgba(142, 235, 150, 0.4);
  transition: all 0.3s ease;
}

.whatsapp:hover{
  transform: translateY(-12px);
  background-image: linear-gradient(-45deg, rgb(28, 165, 28), rgb(1, 116, 1));
}

/* REVEAL */

.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

.iconsFooter{
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.iconsFooter img{
  cursor: pointer;
  transition: all 0.3s ease;
}
.iconsFooter img:hover{
  transform: translateY(-6px);
    box-shadow:  0 0 15px #e6c8837c;
}

@media(max-width:900px){
  .contP{
    flex-direction:column;
    text-align:center;
  }

  .baseInfo h1{
    font-size:34px;
  }
  .baseImg{
    max-width: 400px;  /* define um tamanho fixo */
    width: 100%;
    margin: 0 auto;    /* centraliza */
  }
  .nav{
    display:none;
  }
}